@import "./variable.scss";

*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    color: $text-1;
}
a{
    text-decoration: none;
    color: $text-1;
}
li{
    list-style: none;
}


// SHARED STYLES

header{
    font-size: 1.40rem;

}
